@media (max-width: 768px) {
  .footer {
    width: 100%;
    background: #1b1c31;
    color: rgb(185, 182, 182);
    /* height: 300px; */
  }
  .footer .top_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 1em;
  }
  .footer .low_footer {
    width: 85%;
    margin: auto;
    padding: 0.5em;
    color: #ffffff;
    font-size: 14px;
  }
  .footer .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .footer .right ul {
    padding: 0;
    list-style: none;
  }
  .footer .right ul li {
    line-height: 1.6;
    font-weight: 400;
    font-family: mukta;
    letter-spacing: 1px;
    font-size: 15px;
    color: #ffffff;
  }
  .line {
    border: 0.1px solid #404444;
    height: 0;
  }
  .wrapper h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .heading {
    font-size: 18px;
    font-weight: 500;
    font-family: mukta;
    line-height: 1.3;
    letter-spacing: 2%;
  }
  .param {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .footer {
    width: 100%;
    background: #1b1c31;
    color: rgb(185, 182, 182);
    /* height: 300px; */
  }
  .footer .top_footer {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 1em;
  }
  .footer .low_footer {
    width: 85%;
    margin: auto;
    padding: 0.1em;
    color: #ffffff;
    font-size: 14px;
  }
  .footer .right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    /* width: 100%; */
  }
  .footer .right ul {
    padding: 0;
    list-style: none;
  }
  .footer .right ul li {
    line-height: 25.9px;
    font-weight: 400;
    font-family: mukta;
    letter-spacing: 2%;
    font-size: 16px;
    color: #ffffff;
  }
  .line {
    border: 0.1px solid #404444;
    height: 0;
  }
  .wrapper h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .heading {
    font-size: 24px;
    font-weight: 500;
    font-family: mukta;
    line-height: 36px;
    letter-spacing: 2%;
  }
  .param {
    font-size: 16px;
  }
}
