@media (min-width: 769px) {
  .list ul {
    padding: 0px;
  }
  .list ul li {
    display: inline;
    padding: 10px;
    color: #4a4a68;
  }
}
@media (max-width: 768px) {
  .list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #f6f7f8;
    /* color: #fff; */
    padding: 1em;
    height: 100%;
    width: 35%;
    animation: slide 2s;
    border-right: 1px solid #165bac;
    /* border-bottom: 10px solid #165bac; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* transform: translateX(-50%); */
  }
  @keyframes slide {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .list ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list ul li {
    padding: 10px;
    /* color: #fff !important; */
  }
}
