@media (min-width: 769px) {
  .sectionB {
    width: 100%;
    padding: 40px 1em;
    overflow: hidden;
  }
  .sectionB h2 {
    font-size: 20px !important;
  }
  .sectionB .param {
    font-size: 16px;
    color: #4a4a68;
    line-height: 25.9px;
    letter-spacing: 2%;
    font-family: mukta;
    font-weight: 400;
  }
  .top {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    height: 250px;
  }
  .top .left {
    flex: 3;
  }
  .top .right {
    flex: 1;
  }
  .offering {
    background: #358fe940;
    width: 132px;
    /* height: 32px; */
    border-radius: 20px;
    text-align: center;
    padding: 8px 0;
    color: #165bac;
  }
  #text {
    font-family: mukta;
    padding-bottom: 10px;
  }
  #learn {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  .bottom {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
  .gridItem {
    font-family: sans-serif;
    padding: 1em;
  }
}

@media (max-width: 768px) {
  .sectionB {
    width: 100%;
    padding: 40px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectionB h2 {
    font-size: 20px !important;
  }
  .sectionB .param {
    font-size: 16px;
    color: #4a4a68;
    line-height: 25.9px;
    letter-spacing: 2%;
    font-family: mukta;
    font-weight: 400;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .gridItem {
    font-family: mukta;
    padding: 1em;
  }
}
