.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #f6f7f8;
  /* color: #fff; */
  padding: 1em;
  height: 100%;
  width: 35%;
  animation: slide 2s;
  border-right: 1px solid #165bac;
  /* border-bottom: 10px solid #165bac; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* transform: translateX(-50%); */
}
