@media (max-width: 768px) {
  .login {
    height: 100%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e1e9f1;
  }
  .signleft {
    padding: 1em;
    height: 100%;
  }
  .signright {
    flex: 3;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: none;
  }
  .container {
    width: 95%;
    margin: auto;
    padding: 20px;
  }
  #login {
    background: #165bac;
    color: #ffffff;
    text-align: center;
    font-family: mukta, sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 23.27px;
    border-radius: 5px;
    padding: 10px 18px;
    margin: 0 0 10px 0;
  }
  #login:hover {
    cursor: pointer;
  }
  #signup {
    color: #165bac;
    font-family: mukta, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding-left: 5px;
  }
  .noAccount {
    text-align: center;
    color: #808080;
    font-size: 14px;
  }
  label {
    display: block;
    padding: 10px 0px;
    font-size: 16px;
    color: #000000;
  }
  input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-family: mukta, sans-serif;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
  }
  input::placeholder {
    font-family: mukta, sans-serif;
    /* padding-left: 10px; */
    font-size: 14px;
    font-weight: 600;
  }
  input:focus {
    outline: none;
  }
  h1 {
    font-size: 24px;
  }
  .forgot {
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    color: #165bac;
  }
  .forgot a {
    text-decoration: none;
  }
  .pass {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
  }
  .pass input {
    width: 100%;
  }
  #eye {
    position: absolute;
    right: 0;
    top: 25%;
    font-size: 12px;
    padding: 5px 10px 0 0;
    text-align: right;
    color: #808080;
  }
  #eye:hover {
    cursor: pointer;
  }
  .error {
    color: red;
    font-size: 12px;
    font-weight: 600;
    font-family: mukta, sans-serif;
  }
}

@media (min-width: 769px) {
  .login {
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .signleft {
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signright {
    flex: 3;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .container {
    width: 60%;
    margin: auto;
  }
  .bgimg {
    height: 100%;
  }
  #dash {
    z-index: 1;
    width: 500px;
    position: absolute;
    top: 200px;
    left: 80px;
  }
  #login {
    background: #165bac;
    width: 100%;
    height: 45px;
    color: #ffffff;
    text-align: center;
    font-family: mukta, sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 23.27px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 0 10px 0;
    border: 1px solid #165bac;
  }
  #login:hover {
    cursor: pointer;
  }
  #signup {
    color: #165bac;
    font-family: mukta, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding-left: 5px;
  }
  .noAccount {
    text-align: center;
    color: #808080;
    font-size: 14px;
  }
  label {
    display: block;
    padding: 10px 0px;
    font-size: 16px;
    color: #000000;
  }
  input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-family: mukta, sans-serif;
    font-size: 16px;
    border: 1px solid #c4c4c4;
    /* font-weight: 200; */
  }
  input::placeholder {
    font-family: mukta, sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
  input:focus {
    outline: none;
  }
  h1 {
    font-size: 24px;
  }
  .forgot {
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    color: #165bac;
    /* padding-bottom: 10px; */
    /* text-decoration: none; */
  }
  .forgot a {
    text-decoration: none;
  }
  .pass {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
  }
  .pass input {
    width: 100%;
  }
  #eye {
    position: absolute;
    right: 0;
    top: 25%;
    font-size: 12px;
    padding: 5px 5px 0 0;
    text-align: right;
    color: #808080;
  }
  #eye:hover {
    cursor: pointer;
  }
  .error {
    color: red;
    font-size: 12px;
    font-weight: 600;
    font-family: mukta, sans-serif;
  }
}
